@model BloodManagmentSystem.Models.BloodRequest
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form>
    <div class="form-group">
        @Html.LabelFor(m => m.BloodType)
        @Html.TextBoxFor(m => m.BloodType)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DueDate)
        @Html.TextBoxFor(m => m.DueDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bank)
        @Html.TextBoxFor(m => m.Bank)
    </div> 
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City)
    </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
</form>